<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-responsive">
                <tr>
                    <th>
                        Username
                        <span class="glyphicon" ng-class="class"  ng-click="column_sort('user')"></span>
                        <span class="glyphicon" ng-class="class"  ng-click="column_sort('user')"></span>
                    </th>
                    <th>
                        Description
                        <span class="glyphicon" ng-class="class"  ng-click="column_sort('name')"></span>
                    </th>
                    <th>
                        Date
                        <span class="glyphicon" ng-class="class"  ng-click="column_sort('day')"></span>
                    </th>
                    <th>Amount
                        <span class="glyphicon"  ng-class="class"  ng-click="column_sort('amount')"></span>
                    </th>
                </tr>
                <tr ng-repeat="row in expenses">
                    <td>{{ row.user }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.amount }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>