<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="usnm">Username:</label>
                    <input type="text" class="form-control" id="usnm" name="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" name="password">
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

</body>
</html>